* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #202225;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* ------------image----------- */
/* .image {
  width: 320px;
  height: 242px;
  background-image: url("./media/bg.jpg");
  background-size: cover;
} */

.main {
  width: 100vw;
  height: 100vh;
  background-image: url("./media/bg.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

/* ------------aside----------- */

.aside {
  position: absolute;
  padding-top: 32px;
  width: 100vw;
  top: 10.29vh;
  border-radius: 24px 24px 0px 0px;
  background-color: #f9faff;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  color: #202225;
  height: 89.71vh;
  padding-left: 32px;
  padding-right: 32px;
}

.aside__container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aside__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.aside__title.restorePass {
  margin: 0;
}

.aside__form__signUp {
  display: flex;
  flex-direction: column;
}

.singUp__input__wrapper:not(:last-of-type) {
  margin-bottom: 24px;
}

.aside__form__signUp__input {
  width: 100%;
  height: 40px;
  border: 1px solid #dce0ec;
  background-color: #ffffff;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
  border-radius: 8px;
  padding: 0;
  padding-left: 48px;
  padding-right: 16px;
}
.aside__form__signUp__input.password {
  padding-right: 48px;
}

.aside__form__signUp__input::placeholder {
  color: #a1abc9;
  font-size: 15px;
  line-height: 24px;
}

.aside__form__signUp__button,
.aside__form__signIn__button,
.aside__form__restorePass__button {
  height: 48px;
  background-color: #7297ff;
  color: #ffffff;
  border-radius: 8px;
  border: none;

  font-weight: 600;
  font-size: 15px;
  line-height: 19px;

  margin-top: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.aside__form__signUp__button {
  width: 122px;
}
.aside__form__signIn__button {
  width: 118px;
}
.aside__form__restorePass__button {
  width: 198px;
}

.form__button__vector {
  display: inline-block;
  background: url("./media/angle-right-b.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

/* ------------signUp__input------------- */

.singUp__input__wrapper {
  position: relative;
}

.signUp__input__firstName,
.signUp__input__lastName,
.signUp__input__email,
.signUp__input__password,
.signUp__input__confirmPassword {
  font-size: 15px;
  line-height: 21px;
  color: #202225;
}
.aside__form__signUp__input:invalid,
.aside__form__signUp__input:invalid {
  border-color: #f6657f;
  filter: drop-shadow(0px 4px 32px rgba(218, 228, 255, 0.16));
}

.signUp__input__firstName::before,
.signUp__input__lastName::before,
.signUp__input__email::before,
.signUp__input__password::before,
.signUp__input__confirmPassword::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.signUp__input__firstName::before,
.signUp__input__lastName::before {
  background: url("./media/user.svg");
  z-index: 10;
}

.singUp__input__error {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.24px;
  color: #f6657f;

  margin-top: 14px;
}
.singUp__input__error.hidden {
  display: none;
}

.signUp__input__email::before {
  background: url("./media/email.svg");
}

.signUp__input__password::before {
  background: url("./media/lock.svg");
}

.signUp__input__confirmPassword::before {
  background: url("./media/check.svg");
}

.signUp__input__password__eye {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./media/eye-off.svg");
  z-index: 10;
}

.signUp__input__password__eye.eye_off {
  background: url("./media/eye.svg");
}

/* aside__link */

.aside__link__wrapper {
  display: flex;
  padding-bottom: 44px;
  margin-top: auto;
}

.aside__signIn__link__wrapper {
  display: flex;
  margin-top: auto;
  padding-top: 24px;
  padding-bottom: 44px;
}

.aside__link__signUp,
.aside__link__signIn,
.aside__link__forgotPassword {
  margin: 0;
  margin-right: 12px;

  font-size: 15px;
  line-height: 21px;
  color: #a1abc9;
}

.aside__link__forgotPassword {
  margin-top: 32px;
}

.aside__link__signUp_accent,
.aside__link__signIn_accent,
.restorePass__notification__accent {
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #7297ff;
  text-decoration: underline;
}

/* -------Sign in------- */

.aside__link__signIn_accent {
  margin-left: 0px;
}

/* restorePass */

.aside__title_wrapper {
  display: flex;
  margin-bottom: 24px;
}

.aside__title__angle {
  width: 24px;
  height: 24px;
  background: url("./media/angle-left-b.svg");
  background-repeat: no-repeat;
  background-size: cover;

  margin-right: 16px;
}

.restorePass__notification {
  font-size: 15px;
  line-height: 130%;
  font-weight: normal;
  color: #a1abc9;

  width: 256px;

  margin: 0;
  margin-bottom: 24px;
}

.aside__form__restorePass__button {
  width: 214px;
}

.restorePass__notification__accent {
  margin: 0;
}

/* ----------- MEDIA ----------- */

@media screen and (min-width: 768px) {
  .main {
    background-size: 100vw 100vh;
  }

  .aside {
    top: 0;
    right: 0;
    border-radius: 0;
    width: 560px;
    /* padding-left: 96px; */
    height: 100%;
  }

  .aside__container {
    margin: 0 auto;
    width: 368px;
  }

  .aside.signUp {
    padding-top: 16.4vh;
  }
  .aside.signIn,
  .aside.restorePass {
    padding-top: 25.78vh;
  }

  .aside__title {
    margin-bottom: 40px;
  }

  .aside__title_wrapper {
    margin-bottom: 32px;
  }

  .signUp__input__firstName,
  .signUp__input__lastName,
  .signUp__input__email,
  .signUp__input__password,
  .signUp__input__confirmPassword {
    font-size: 17px;
    line-height: 24px;
  }

  .singUp__input__wrapper:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .aside__form__signUp__input {
    width: 368px;
    height: 56px;
    padding-left: 64px;
    padding-right: 24px;
  }

  .aside__form__signUp__input.password {
    padding-right: 64px;
  }

  .signUp__input__password__eye {
    top: 16px;
    left: 320px;
  }

  .signUp__input__firstName::before,
  .signUp__input__lastName::before,
  .signUp__input__email::before,
  .signUp__input__password::before,
  .signUp__input__confirmPassword::before {
    top: 16px;
    left: 24px;
  }

  .aside__form__signUp__button,
  .aside__form__signIn__button,
  .aside__form__restorePass__button {
    margin-top: 64px;
    font-size: 17px;
    line-height: 24px;
    height: 56px;
  }
  .aside__form__signUp__button {
    width: 146px;
  }
  .aside__form__signIn__button {
    width: 138px;
  }
  .aside__form__restorePass__button {
    width: 214px;
  }

  .aside__link__signUp {
    margin-top: 0px;
    font-size: 15px;
    line-height: 21px;
  }
  .aside__link__wrapper {
    display: flex;
    padding-top: 40px;
  }

  .aside__link__signUp_accent {
    margin-top: 0px;
    font-size: 15px;
    line-height: 19px;
  }
  .aside__link__signIn_accent {
    font-size: 15px;
    line-height: 22px;
  }

  .aside__title {
    font-size: 24px;
    line-height: 26px;
  }

  .aside__form__signUp__input {
    font-size: 17px;
    line-height: 24px;
  }

  .aside__form__signUp__input::placeholder {
    font-size: 17px;
    line-height: 24px;
  }

  .aside__signIn__link__wrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 7.81vh;
  }
  .aside__link__signIn {
    margin-top: 0px;
    margin-right: 12px;
    font-size: 15px;
    line-height: 21px;
  }

  .restorePass__notification {
    width: 368px;
  }
}
/* ------------------------------------------------------------------------------------------- */
@media screen and (min-width: 1920px) {
  .aside {
    width: 560px;
    /* padding-left: 96px; */
  }
}

@media screen and (max-width: 330px) {
  .aside__link__wrapper,
  .aside__signIn__link__wrapper {
    flex-direction: column;
  }
}
