<div class="container aside__restorePassword">   
    <aside class="aside restorePass">
        <div class="aside__wrapper">
            <div class="aside__title_wrapper">
                <a class="aside__title__angle" href="./sign-in" data-link></a>
                <h2 class="aside__title restorePass">Restore Password</h2>
            </div>
            <div class="restorePass__notification_wrapper">
                <p class="restorePass__notification">An email has been sent to <a href="#" class="restorePass__notification__accent">example@exam.com.</a> Check your inbox, and click the reset link provided.</p>
            </div>
        </div>
    </aside>
</div>