<div class="container aside__restorePassword">   
    <aside class="aside restorePass">
        <div class="aside__wrapper">
            <div class="aside__title_wrapper">
                <a class="aside__title__angle" href="./sign-in" data-link></a>
                <h2 class="aside__title restorePass">Restore Password</h2>
            </div>
            <div class="restorePass__form__wrapper">
                <p class="restorePass__notification">Please use your email address, and we’ll send you the link to reset your password</p>
                <form action="" class="aside__form__signUp">          
                    <div class="aside__form__input__wrapper email">
                        <input type="email" placeholder="Email" class="aside__form__input">
                    </div>   
                    <button class="aside__form__restorePass__button" type="submit">Send Resent Link <span class="form__button__vector"></span></button>
                </form>
            </div>
        </div>
    </aside>
</div>