<div class="container aside__signUp">
    <aside class="aside signUp">
        <div class="aside__wrapper">
            <h2 class="aside__title">Sign Up</h2>
            <form action="" class="aside__form__signUp">
                <div class="aside__form__input__wrapper firstName">
                    <input type="text" placeholder="First name" class="aside__form__input">
                </div>
                <div class="aside__form__input__wrapper lastName">
                    <input type="text" placeholder="Last name" class="aside__form__input">
                </div>
                <div class="aside__form__input__wrapper email">
                    <input type="email" placeholder="Email" class="aside__form__input">
                </div>
                <div class="aside__form__input__wrapper aside__input__password">
                    <input type="password" placeholder="Password" class="aside__form__input password">
                    <span class="aside__input__password__eye"></span>
                </div>
                <div class="aside__form__input__wrapper aside__input__confirmPassword">
                    <input type="password" placeholder="Confirm Password" class="aside__form__input password">
                    <span class="aside__input__password__eye"></span>
                </div>
                <button class="aside__form__signUp__button" type="submit">Sign up <span class="form__button__vector"></span></button>
            </form>
            <div class="aside__link__wrapper">
                <p class="aside__link__signUp">Already have an account?</p>
                <a class="aside__link__signUp_accent" href="/sign-in" data-link>Sign in</a>
            </div>
        </div>
    </aside>
</div>