@import "_vars.scss";

.container.aside__signUp,
.container.aside__signIn,
.container.aside__restorePassword {
  padding-top: 72px;

  background-size: 100%;
  overflow: hidden;
  background: url(../media/bg.jpg) no-repeat;
}

.main {
  min-width: 100%;
  min-height: 100%;
}

.aside {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;

  border-radius: 24px 24px 0px 0px;
  height: calc(90vh - 2px);

  background-color: $aside-background-color;
  // font-weight: 600;
  // font-size: 24px;
  // line-height: 110%;
  // color: #202225;
}

.aside__wrapper {
  margin: 0 auto;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aside__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: $bold-font-weight;
  font-size: 20px;
  line-height: 24px;
}

.aside__title_wrapper {
  display: flex;
  margin-bottom: 24px;
}

.aside__link__wrapper {
  display: flex;
  padding-bottom: 44px;
  margin-top: auto;
}

//   MEDIA

@media screen and (min-width: 768px) {
  .container.aside__signUp,
  .container.aside__signIn,
  .container.aside__restorePassword {
    padding-top: 0px;
    background: url(../media/bg.jpg) no-repeat;
    background-size: cover;
  }

  .aside {
    margin-left: auto;
    top: 0;
    border-radius: 0;
    width: 560px;
    height: 100vh;
  }

  .aside__wrapper {
    margin: 0 auto;
    width: 368px;
  }

  .aside__title {
    margin-bottom: 40px;
  }

  .aside__title_wrapper {
    margin-bottom: 32px;
  }

  .aside__link__wrapper {
    display: flex;
    padding-top: 40px;
  }

  .aside__title {
    font-size: 24px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1920px) {
    .aside {
      width: 560px;
    }
  }