@import "_vars.scss";
@import "_mixines.scss";

.aside__signIn__link__wrapper {
  display: flex;
  margin-top: auto;
  padding-top: 24px;
  padding-bottom: 44px;
}

.aside__link__signUp,
.aside__link__signIn,
.aside__link__forgotPassword {
  margin: 0;
  margin-right: 12px;

  @include mobile-font-size;
  line-height: 21px;

  color: $secondary-text-color;
}

.aside__link__forgotPassword {
  margin-top: 32px;
}

.aside__link__signUp_accent,
.aside__link__signIn_accent,
.restorePass__notification__accent {
  @include bold-font-weight;
  @include mobile-font-size;
  line-height: 130%;
  text-decoration: underline;

  color: $accent-color;
}

.aside__link__signIn_accent {
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .aside__link__signUp {
    margin-top: 0px;

    font-size: 15px;
    line-height: 21px;
  }

  .aside__link__signUp_accent {
    margin-top: 0px;

    font-size: 15px;
    line-height: 19px;
  }
  .aside__link__signIn_accent {
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (max-width: 330px) {
  .aside__link__wrapper,
  .aside__signIn__link__wrapper {
    flex-direction: column;
  }
}
