@import "_vars.scss";
@import "_mixines.scss";

.aside__form__signUp__button,
.aside__form__signIn__button,
.aside__form__restorePass__button {
  margin-top: 32px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include aside-button-border-radius;
  border: none;

  background-color: $accent-color;
  color: $button-text-color;

  @include bold-font-weight;
  @include mobile-font-size;
  line-height: 19px;
}

.aside__form__signUp__button {
  width: 122px;
}
.aside__form__signIn__button {
  width: 118px;
}
.aside__form__restorePass__button {
  width: 198px;
}

.form__button__vector {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;

  background: url("../media/angle-right-b.svg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .aside__form__signUp__button,
  .aside__form__signIn__button,
  .aside__form__restorePass__button {
    margin-top: 64px;
    height: 56px;

    font-size: 17px;
    line-height: 24px;
  }
  .aside__form__signUp__button {
    width: 146px;
  }
  .aside__form__signIn__button {
    width: 138px;
  }
  .aside__form__restorePass__button {
    width: 214px;
  }
}

// DOCTOR VIEW

.nav__buttons__patients,
.nav__buttons__resolutions,
.nav__buttons__profile,
.nav__buttons__appointment,
.nav__buttons__resolutions {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

.nav__buttons__patients,
.nav__buttons__appointment {
  margin-right: 24px;

  background: #7297ff;
  color: white;
}

.nav__buttons__resolutions,
.nav__buttons__profile,
.nav__buttons__resolutions {
  background: #ffffff;
  color: #7297ff;
}
.nav__buttons__profile,
.nav__buttons__appointment {
  margin-right: 12px;
}

.nav__buttons__resolutions {
  display: none;
}

.section__nav__create {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__buttons__patients,
  .nav__buttons__resolutions,
  .nav__buttons__profile,
  .nav__buttons__appointment,
  .nav__buttons__resolutions {
    width: 160px;
  }
  .nav__buttons__resolutions {
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  .section__nav__create {
    width: 224px;
    height: 48px;
    margin-left: 64px;
    display: block;

    border: none;
    border-radius: 8px;
    background: #7297ff;
    color: white;
  }
}
