@import "_vars.scss";
@import "_mixines.scss";

.aside__form__input__wrapper {
  position: relative;
}

.aside__form__input {
  width: 100%;
  height: 40px;

  padding: 0;
  padding-left: 48px;
  padding-right: 16px;

  border: $aside-input-border;
  @include aside-input-border-radius;

  background-color: $aside-input-background-color;
  box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.16);
}

.aside__form__input.password {
  padding-right: 48px;
}

.aside__form__input::placeholder {
  color: $secondary-text-color;
  $mobile-font-size: 15px;
  line-height: 24px;
}

.firstName,
.lastName,
.email,
.aside__input__password,
.aside__input__confirmPassword {
  @include mobile-font-size;
  line-height: 21px;

  color: $aside-text-color;
}

.aside__form__input.error {
  border: $aside-input-error-border;
  filter: drop-shadow(0px 4px 32px rgba(218, 228, 255, 0.16));
}

.firstName::before,
.lastName::before,
.email::before,
.aside__input__password::before,
.aside__input__confirmPassword::before {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 16px;

  content: "";
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: cover;
}
.firstName::before,
.lastName::before {
  z-index: 10;

  background: url("../media/user.svg");
}

.singUp__input__error__email,
.singUp__input__error__password {
  margin-top: 14px;

  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.24px;

  color: $errorText-color;
}
.singUp__input__error__email.hidden,
.singUp__input__error__password.hidden {
  display: none;
}

.email::before {
  background: url("../media/email.svg");
}

.aside__input__password::before {
  background: url("../media/lock.svg");
}

.aside__input__confirmPassword::before {
  background: url("../media/check.svg");
}

.aside__input__password__eye,
.aside__input__password__eye__confirm {
  position: absolute;
  top: 8px;
  right: 18px;
  z-index: 10;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: cover;
  background: url("../media/eye-off.svg");
}

// .aside__input__password__eye.eye_off,
// .aside__input__password__eye__confirm.eye_off {
//   background: url("../media/eye.svg");
// }

@media screen and (min-width: 768px) {
  .firstName,
  .lastName,
  .email,
  .aside__input__password,
  .aside__input__confirmPassword {
    font-size: 17px;
    line-height: 24px;
  }

  .aside__form__input__wrapper:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .aside__form__input {
    width: 368px;
    height: 56px;
    padding-left: 64px;
    padding-right: 24px;
  }

  .aside__form__input.password {
    padding-right: 64px;
  }

  .aside__input__password__eye,
  .aside__input__password__eye__confirm {
    top: 16px;
    left: 320px;
  }

  .firstName::before,
  .lastName::before,
  .email::before,
  .aside__input__password::before,
  .aside__input__confirmPassword::before {
    top: 16px;
    left: 24px;
  }

  .aside__form__input {
    font-size: 17px;
    line-height: 24px;
  }

  .aside__form__input::placeholder {
    font-size: 17px;
    line-height: 24px;
  }
}
