@import "_vars.scss";

.aside__title.restorePass {
  margin: 0;
}

.aside__title__angle {
  width: 24px;
  height: 24px;
  margin-right: 16px;

  background: url("../media/angle-left-b.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.restorePass__notification {
  min-width: 256px;
  margin: 0;
  margin-bottom: 24px;

  font-size: $mobile-font-size;
  line-height: 130%;
  font-weight: normal;

  color: $secondary-text-color;
}

.aside__form__restorePass__button {
  width: 214px;
}

.restorePass__notification__accent {
  margin: 0;
}

@media screen and (min-width: 768px) {
    .aside.restorePass {
      padding-top: 26vh;
    }

    .restorePass__notification {
        width: 368px;
      }
  }