
.aside__form__signUp {
    display: flex;
    flex-direction: column;
  }
  
  .aside__form__input__wrapper:not(:last-of-type) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    .aside.signUp {
        padding-top: 16vh;
      }
  }