// COLORS
$aside-title-color: #202225;
$aside-text-color: #202225;
$errorText-color: #f6657f;
$aside-input-border: 1px solid #dce0ec;
$aside-input-error-border: 1px solid #ff2567;
$aside-input-focus-border: 1px solid #7297ff;
$accent-color: #7297ff;
$secondary-text-color: #a1abc9;
$aside-background-color: #f9faff;
$aside-input-background-color: #ffffff;
$button-text-color: #ffffff;
$aside-input-border-color:#dce0ec;

$doctor-view-background-collor: #f9faff;
$doctor-view-container-background-collor: #e4ebff;
$pointer-collor: #34c197




